$maincolor: #d5eafd;

@mixin row($typeRow, $widthRow){
	display: flex;
	flex-direction: row;
	justify-content: $typeRow;
	width: $widthRow;
	margin: auto;	
}

*{
	margin: 0;
}

body{
	background: $maincolor;
	font-family: 'Roboto', sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}
.form{
	width: 500px;
	height: 650px;
	border-radius: 15px;
	box-shadow: 0 0 50px #1b75c7;
	background: white;
	margin: auto;
	position: absolute;
	z-index: 2;
	top: 0; left: 0; right: 0; bottom: 0;

	.card-container{
		height: 20%;
		width: 100%;
		position:relative;
		.card{
			cursor: pointer;
			margin:auto;
			left: 0;
			right: 0;
			bottom:0;
			position: absolute;
			width: 400px;
			height: 220px;
			.row{
				@include row(space-between, 100%);
			}
			&.active{
				.card-front{
					transform: perspective(600px) rotateY(180deg);
				}
				.card-back{
					transform: perspective(600px) rotateY(0deg);
				}
			}
			&-back,&-front{
				backface-visibility: hidden;
				position: absolute;
				right: 0;
				left: 0;
				transition: transform 0.6s linear;
				background: url('../assets/bg1.jpg');
				background-size: contain;
				border-radius:15px;
			}
			&-back{
				transform: perspective(600px) rotateY(-180deg);
				height: calc(100% - 30px);
				padding: 15px 0;
				display: flex;
				flex-direction: column;
				.card-line{
					margin-top: 10px;
					width: 100%;
					height: 35px;
					background: #000;;
				}
				.card-line-cvv{
					margin: 15px;
					display: flex;
					width: 60%;
					height: 40px;
					background: red;
					justify-content: flex-end;

					.cvv-text{
					    display: flex;
					    height: 100%;
					    background: white;
					    width: 50px;
					    justify-content: center;
					    align-items: center;
				        font-style: italic;
					}
				}
				.card-info{
					width: 100%;
					text-align: right;
					font-size: 8px;
					color:white;
					margin: 0 15px;
				}
			}
			&-front{
				transform: perspective(600px) rotateY(0deg);
				padding: 15px;
				height: calc(100% - 30px);
				display: flex;
    			flex-direction: column;

				.chip{
					width: 50px;
					height: 35px;
					border-radius:5px;
					background: white;
				}
				.card-number{
					width: 100%;
					text-align: center;
					p{
						color:white;
						font-size: 24px;
					}
				}
				.card-name,
				.card-date{
					display: flex;
					flex-direction: column;
					.title{
						font-size: 14px;
						color:#454545;
						margin-bottom: 3px;
					}
					p{
						font-size: 14px;
						color:white;
					}
				}
			}
		}
	}
	.main{
		margin-top: 60px;
	}
	.invalid{
		border:2px solid #d24848 !important;
	}
	.valid{
		border:2px solid #6db56d !important;
	}
	.input{
		width: 90%;
		margin: 20px auto;
		display: flex;
		flex-direction: column;

		label{
			margin-bottom: 5px;
		}
		input{
		    padding-left: 15px;
    		font-size: 18px;
			height: 35px;
			border-radius:5px;
			border:2px solid $maincolor;

			&:focus{
				border: 2px solid #b3dbff;
				outline: none;
			}
		}
	}
	.row{
		@include row(space-between, 90%);
	}
	.select{
		display: flex;
		flex-direction: column;
		width: 25%;
		margin: 20px 10px;
		label{
			margin-bottom: 5px;
		}
		select{
    		font-size: 18px;
			cursor: pointer;
			border-radius:5px;
			height: 41px;
			border:2px solid $maincolor;
			&:focus{
				border: 2px solid #b3dbff;
				outline: none;
			}
		}
	}
	.btn-submit{
		cursor: pointer;
		margin: 20px auto;
		height: 45px;
		width: 90%;
		border-radius:5px;
		background:#4545be;
		display: flex;
		justify-content: center;
		align-items: center;
		box-shadow: 0 0 8px #1414b56e;
		transition: 0.3s linear;

		p{
			font-size: 18px;
			color:white;
		} 

		&:hover, &:focus{
			transition: 0.3s linear;
			background: #3333c1;
			box-shadow: 0 0 10px #1414b56e;
		}
	}
}


// @media (max-height: 850px) and (max-width: 1024px){
// 	.form{
// 		width: 70%;
// 		height: 75%;

// 		.card-container{
// 			.card{
// 				width: 60%;
// 				height: calc(100% + 40%);

// 				&-front{
// 					.chip{
// 						width: 14.5%;
// 						height: 30px;
// 					}
// 				}
// 			}
// 		}
// 	}
// }



@media(min-width: 320px) and (max-height: 880px){
	.form{
		height: 70%;
		width: 45%;

		.card-container{
			.card{
				width: 300px;
				height: 150px;

				&-front{
					.chip{
						width: 35px;
						height: 25px;
					}
					.card-number{
						p{
							font-size: 18px;
						}
					}
					.card-name, .card-date{
						p, .title{
							font-size: 10px;
						}
					}
				}
				&-back{
					.card-line-cvv{
						height: 27px;
						.cvv-text{
							font-size: 18px;
						}
					}
				}
			}
		}
		.btn-submit{
			height: 35px;
    		width: 80%;
    		p{
    			font-size: 14px;
    		}
		}
		.main{
			margin-top: 40px;
			.input{
				input{
					font-size: 15px;
    				height: 25px;
				}
			}
			.select{
				select{
					font-size: 15px;
					height: 31px;
				}
			}
		}
	}
}

@media(max-width: 780px){

	.form{
		width: 65%;

		.main{
		    display: flex;
		    flex-direction: column;
		    height: 60%;

		    .input{
		    	margin: 1% auto;
		    }
		    .select{
		    	margin: 1%;
		    }
		}

	}
}

@media(max-height: 580px){
	.form{
		width: 90%;
		height: 90%;
		.card-container{
			height: 30%;

			.card{
				width: 90%;
				height: 90%;
				position:relative;
				margin-top: 5%;
			}
		}
	}
}



@media(max-width: 480px){
	.form{
		width: 90%;
		height: 90%;

		.card-container{
			height: 30%;

			.card{
				width: 90%;
				height: 90%;
				position:relative;
				margin-top: 5%;
			}
		}
	}
}

@media(max-width: 320px){
	.form{
		.btn-submit{
		    margin: 5px auto;
		}
		.main{
		    margin-top: 20px;
		}
	}
}